/*
Color Palette
#45969B - dark teal
#50B6BB - teal
#F8F8F8 - off white
#FFAE7B - sorbet orange
*/

body {
  background: #D6DAE5;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.navbar-light .navbar-brand  {
  color: #50B6BB;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-light .navbar-brand:hover  {
  color: #45969B;
  font-size: 2em;
}

.bye-container {
  display: inline-block;
  margin: 10px 15px;
  margin-top: 50px;
  padding: 15px 10px;
  border-radius: 5px;
  color: #333;
  min-width: 100%;
  background: #F8F8F8;
  box-shadow: 0 0 5px -2px rgba(0,0,0,0.50);
}

.bye-container span {
  display: block;
}

.user-container {
  display: inline-block;
  margin: 10px 15px;
  padding: 15px 10px;
  min-height: 220px;
  border-radius: 5px;
  color: #333;
  max-width: 33%;
  background: #F8F8F8;
  box-shadow: 0 0 5px -2px rgba(0,0,0,0.50);
}

.user-container label {
  display: block;
}

.rendered-container {
  display: inline-block;
  margin: 10px 15px;
  padding: 15px 10px;
  min-height: 220px;
  border-radius: 5px;
  color: #333;
  max-width: 33%;
  background: #F8F8F8;
  box-shadow: 0 0 5px -2px rgba(0,0,0,0.50);
}

.display--none {
  display: none;
}

#validate-button {
  margin-top: 25px;
}

section {
  width: 100%;
  padding: 2% 7%;
  display: table;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
}

.team-name-input, .nfl-team__select {
  display: block;
  width: 100%;
}

.team-title {
  font-size: 24px;
  font-weight: 500;
}

.team-tile > ul > li {
  text-align: left;
}

.keeper-text {
  font-size: 12px;
  font-weight: 200;
  color: #45969B;
  visibility: hidden;
}

.keeper-text__show{
  font-size: 12px;
  font-weight: 200;
  color: #45969B;
  visibility: visible;
}

.btn-secondary {
  background-color: #45969B;
  color: #F8f8f8;
  border: 0;
}

.btn-secondary:hover, .btn-secondary:focus {
  border: 0;
}

.btn-dark {
  background: #50B6BB;
  color: #F8F8F8;
  border: 0;
}

label {
  padding: 0 1em;
  text-align: left;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 39.9375em) {
  .user-container {
    display: inline-block;
    margin: 10px 15px;
    padding: 15px 10px;
    border: 1px solid #45969B;
    background: #F8F8F8;
    min-height: 220px;
    border-radius: 5px;
    color: #333;
    max-width: 50%;
  }
}

@media screen and (max-width: 24em) {
  .user-container {
    display: inline-block;
    margin: 10px 15px;
    padding: 15px 10px;
    border: 1px solid #45969B;
    background: #F8F8F8;
    min-height: 220px;
    border-radius: 5px;
    color: #333;
    max-width: 100%;
  }
}
